<!-- <h3>Hello! {{ userInfo.firstname + ' ' + userInfo.lastname }}</h3> -->


<form [formGroup]="searchForm">
    <mat-form-field appearance="outline" floatLabel="always" class="col-md-4 m-2">
        <mat-label>Search Hospital Name</mat-label>
        <input matInput [(ngModel)]="searchStr" formControlName="hospitalName" name="hospitalName" type="text"
            id="searchStr" placeholder="Search Hospital Name">
    </mat-form-field>

    <!-- <mat-form-field appearance="outline" floatLabel="always" class="m-2">
        <mat-label>Date Range</mat-label>
        <select id="searchDate" matNativeControl placeholder="Select Criteria" formControlName="dtCriteria"
            name="dtCriteria">
            <option selected>Date Criteria</option>
            <option value="datereq">Request Date</option>
            <option value="dateapp">Approve Date</option>
        </select>
    </mat-form-field> -->
    <mat-form-field color="accent" appearance="outline" floatLabel="always" class="m-2">
        <mat-label>From Date</mat-label>
        <input matInput [matDatepicker]="picker1" placeholder="Start Date" formControlName="fromDate" name="fromDate">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
    <mat-form-field color="accent" appearance="outline" floatLabel="always" class="m-2">
        <mat-label>To Date</mat-label>
        <input matInput [matDatepicker]="picker2" placeholder="End Date" formControlName="toDate">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2 color="primary"></mat-datepicker>
    </mat-form-field>


    <button type="button" data-bs-toggle="tooltip" data-bs-title="Search" class="btn btn-dark m-2"><i
            class="fa-solid fa-magnifying-glass" (click)="filterList()"></i></button>

    <button type="button" data-bs-toggle="tooltip" data-bs-title="Download Excel" class="btn btn-dark"><i
            class="fa-solid fa-download" (click)="downloadExcel()"></i></button>
</form>
<div class="table-responsive">
    <table class="table table-sm" style="font-size: small;">
        <thead class="table-bordered align-middle">
            <tr>
                <th class="stickycol align-middle" style="width: 50%;">Hospital</th>
                <th>Date Emailed</th>
                <th>Amount</th>
                <th>Suspension</th>
                <th>Due Date</th>
                <th>Acknowledgement</th>
                <th>Analysis</th>
                <th>Analysis Status</th>
                <th>Analysis Description</th>
                <th>Follow-up Email</th>
                <th>Follow-up Status</th>
                <th>Follow-up Description</th>
                <th>Accounting</th>
                <th>Accounting Status</th>
                <th>Accounting Description</th>
                <th>Admin</th>
                <th>Admin Status</th>
                <th>Admin Description</th>
                <th>Closure</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let f of hospitalList  | paginate : config; ">
                <td class="stickycol">{{f.hospital}}</td>
                <td>{{f.date_emailed | date}}</td>
                <td>{{ f.amount }}</td>
                <td>{{ f.suspension | date }}</td>
                <td style="color:red">{{ f.due_date | date}}</td>
                <td>{{ f.ack | date}}</td>
                <td>{{ f.analysis | date}}</td>
                <td>{{ f.analysis_status}}</td>
                <td>{{ f.analysis_desc}}</td>
                <td>{{ f.follow_up | date}}</td>
                <td>{{ f.follow_status}}</td>
                <td>{{ f.follow_desc}}</td>
                <td>{{ f.accounting | date}}</td>
                <td>{{ f.acc_status}}</td>
                <td>{{ f.acc_desc}}</td>
                <td>{{ f.admin | date}}</td>
                <td>{{ f.admin_status}}</td>
                <td>{{ f.admin_desc}}</td>
                <td>{{ f.closure | date}}</td>

            </tr>
        </tbody>
    </table>
</div>
<div class="row">

    <div class="col" style="text-align: right; font-size: smaller;">
        <select [(ngModel)]="config.itemsPerPage">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
        <span *ngIf="(config.currentPage * config.itemsPerPage) < config.totalItems">
            {{
            (config.currentPage * config.itemsPerPage) + ' of ' + config.totalItems
            }}
        </span>
        <span *ngIf="(config.currentPage * config.itemsPerPage) >= config.totalItems">
            {{
            config.totalItems + ' of ' + config.totalItems
            }}
        </span>

    </div>
    <div class="col-auto">

        <pagination-template #p="paginationApi" [id]="config.id" (pageChange)="config.currentPage = $event">

            <div class="custom-pagination">
                <div class="pagination-next ms-4" [class.disabled]="p.isLastPage()">
                    <span *ngIf="!p.isLastPage()" (click)="p.next()"><i class="fa-solid fa-angle-right"></i>
                    </span>
                </div>
                <div class="pagination-previous ms-4" *ngIf="p.isFirstPage()">

                    <span (click)="p.previous()">
                        <i class="fa fa-solid fa-angle-left disabled"></i> </span>
                </div>
                <div class="pagination-previous ms-4" *ngIf="!p.isFirstPage()">

                    <span (click)="p.previous()">
                        <i class="fa-solid fa-angle-left"></i> </span>
                </div>

            </div>

        </pagination-template>

    </div>


</div>

