<div class="">
  <div class="row">
    <div class="col">
      <button mat-raised-button (click)="openDialog()" class="mb-4">
        <i class="fa-sharp fa-solid fa-plus"></i> New
      </button>
      <!-- <button
        type="button"
        class="btn btn-sm btn-dark"
        style="float:right"
      >
        <i class="fa fa-upload" aria-hidden="true"></i> Upload Multiple
      </button> -->
    </div>
  </div>
  <div class="table-responsive" style="padding-top: 10px">
    <table class="table table-hover" style="font-size: small">
      <thead class="table-bordered">
        <tr>
          <th class="stickycol">Hospital</th>
          <th>Date Emailed</th>
          <th>Amount</th>
          <th>Suspension</th>
          <th>Due Date</th>
          <th>Acknowledgement</th>
          <th>Analysis</th>
          <th>Analysis Status</th>
          <th>Analysis Description</th>
          <th>Follow-up Email</th>
          <th>Follow-up Status</th>
          <th>Follow-up Description</th>
          <th>Accounting</th>
          <th>Accounting Status</th>
          <th>Accounting Description</th>
          <th>Admin</th>
          <th>Admin Status</th>
          <th>Admin Description</th>
          <th>Closure</th>
          <th class="stickycol align-middle text-center">View</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let recon of reconList | paginate : config"
          (dblclick)="deleteRecon(recon.id)"
        >
          <td class="stickycol">{{ recon.hospital }}</td>
          <td>{{ recon.date_emailed | date }}</td>
          <td>{{ recon.amount }}</td>
          <td>{{ recon.suspension | date }}</td>
          <td style="color:red">{{ recon.due_date | date}}</td>
          <td>{{ recon.ack | date}}</td>
          <td>{{ recon.analysis | date}}</td>
          <td>{{ recon.analysis_status}}</td>
          <td>{{ recon.analysis_desc}}</td>
          <td>{{ recon.follow_up | date}}</td>
          <td>{{ recon.follow_status}}</td>
          <td>{{ recon.follow_desc}}</td>
          <td>{{ recon.accounting | date}}</td>
          <td>{{ recon.acc_status}}</td>
          <td>{{ recon.acc_desc}}</td>
          <td>{{ recon.admin | date}}</td>
          <td>{{ recon.admin_status}}</td>
          <td>{{ recon.admin_desc}}</td>
          <td>{{ recon.closure | date}}</td>
          <td class="stickycol align-middle text-center">
            <a [routerLink]="['/recon/', recon.id]">
              <i class="fa-sharp fa-solid fa-eye"></i> View</a
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!--

  Pagination

-->
<div class="row">
  <div class="col" style="text-align: right; font-size: smaller">
    <select [(ngModel)]="config.itemsPerPage">
      <option value="10">10</option>
      <option value="20">20</option>
      <option value="50">50</option>
      <option value="100">100</option>
    </select>
    {{ config.currentPage * config.itemsPerPage + " of " + config.totalItems }}
  </div>
  <div class="col-auto">
    <pagination-template
      #p="paginationApi"
      [id]="config.id"
      (pageChange)="config.currentPage = $event"
    >
      <div class="custom-pagination">
        <div class="pagination-next ms-4" *ngIf="p.isLastPage()">
          <span><i class="fa fa-solid fa-angle-right disabled"></i> </span>
        </div>
        <div class="pagination-next ms-4" *ngIf="!p.isLastPage()">
          <span (click)="p.next()"
            ><i class="fa-solid fa-angle-right"></i>
          </span>
        </div>

        <div class="pagination-previous ms-4" *ngIf="p.isFirstPage()">
          <span> <i class="fa fa-solid fa-angle-left disabled"></i> </span>
        </div>
        <div class="pagination-previous ms-4" *ngIf="!p.isFirstPage()">
          <span (click)="p.previous()">
            <i class="fa fa-solid fa-angle-left"></i>
          </span>
        </div>
      </div>
    </pagination-template>
  </div>
</div>
