<form [formGroup]="addFranchiseForm" enctype="multipart/form-data" class="col-md-12" (ngSubmit)="newFranchiseRequest()">
    <div class="container-fluid">
    <div class="row align-top">
        <h3 mat-dialog-title>Add Recon</h3>
        <mat-dialog-content width="700">
                <mat-form-field appearance="outline" floatLabel="always" class="col-md-12">
                    <mat-label>Address </mat-label>
                    <input type="text" matInput class="form-control" formControlName="address"
                        required />
                </mat-form-field>
               
        
                <mat-form-field appearance="outline" floatLabel="always" class="col-md-6">
                    <mat-label>File Upload</mat-label>
                    <input type="file" matInput class="form-control" formControlName="file" (change)="selectFile($event)"/>
                </mat-form-field>
        
        </mat-dialog-content>
        
    </div>
    <div mat-dialog-actions class="row" align="end" style="vertical-align: bottom;">
      <div class="col-md-12 text-right">
        <button type="submit" mat-raised-button ><i
            class="fa-solid fa-check"></i> Add Recon</button>
    <button mat-raised-button mat-dialog-close>
        <i class="fa-sharp fa-solid fa-xmark"></i> Close
    </button>

      </div>
        
    </div></div>
</form>
  

